/* Grid */
$ninesixty-gutter-width: 12px;
$ninesixty-fluid-gutter-width: 1%;
$ninesixty-fluid-grid-width: 100%;
$ninesixty-grid-width: 1896px;

/* Variables */
$transparent-white: transparentize(white, 0.25);

$very-very-light-green: #ECF5FD;
$very-light-green: #E4F1FD;
$light-green: #C1D5E9;
$green:  #4A89DC;
$dark-green: #3373B8;
$very-dark-green: #183E67;

$very-very-light-red: #FAFAF9;
$very-light-red: #E9E8E6;
$light-red: #F2CB27;
$red:  #DB4E30;
$dark-red: #DB4E30;
$very-dark-red: #DB4E30;

$very-very-light-grey: #f1f4f0;
$very-light-grey: #e7ede6;
$light-grey: #e2e9e1;
$grey:  #dbe3da;
$dark-grey: #c9c9c9;
$very-dark-grey: #bbbcb7;

$disabled-grey: #7c7c79;

$white: #ffffff;

$very-light-yellow: #F9FF9D;
$light-yellow: #EAF094;
$yellow: #D1D684;
$dark-yellow: #AEB36E;
$very-dark-yellow: #A2954B;

$blue: #99CBC6;
$gray: #AAA499;
$black: #000000;

/* History Constants */
$success-unicode-glyph: "\2022"; // unicode bullet
$failure-unicode-glyph: "\00D7"; // unicode 'x'

// Font
$base-font-size: 13px;
